{% extends "base.html" %}
{%block content%}



<!--Current weather-->
<!--weather icon-->

{% if current_weather %}
<div class="top1_box">

<div id="top_deatails">
<h3>CURRENT WEATHER IN {{city_name}} </h3>
<P> {{current_weekday}} , {{current_weather.date}} , {{current_weather.time}}</P>

</div><!--top- details end hare -->
<br>

<div class="line">
  <hr>
</div>



<div id="top2_box">

<div id="basic_data">

<div class="weather_description">
<img id="weather_description_img" src="{{ url_for('static', filename='images/' + current_weather.main + current_weather.icon+'.png') }}"style="height:150px;width:150px"alt="weather icon">
<p id="weather_description_txt">{{ current_weather.description }}</p>
</div> <!--weather_description end hare -->



<div class="current_temp">
<h1>{{current_weather.temperature}}°</h1>
<p id="current_temp_txt">FeelsLike - {{current_weather.feelslike}}°</p>
</div> <!--current temp end hare-->



<div class="pop">
  <img id="pop_img" src="{{ url_for('static', filename='images/' +pop+'.png') }}"alt="POP icon">
  <p id="pop_img_txt">{{current_weather.pop_percent}}%</p>
</div> <!-- pop end hare -->

</div><!--basic_data end hare-->

<div id="current_data">
<div id="wind">
<p>
  WIND
</p>
<b id="wind_data">{{current_weather.wind}}km/h</b>
</div>

<hr>

<div id="humidity">
  <p>
    HUMIDITY
  </p>
  <b id="humidity_data">
    {{current_weather.humidity}}%
  </b>
</div>

<hr>

<div id="pressure">
  <p>
    PRESSURE
  </p>
  <b id="pressure_data">
    {{current_weather.pressure}} hPa
  </b>

</div>

<hr>

<div id="visibility">
  <p>
    VISIBILITY
  </p>
  <b id="visibility_data">
    {{current_weather.visibility}} Km
  </b>

</div>

</div> <!--current_data-->

</div> <!--End of top2_box-->


</div> <!--top1_box end hare-->
<br>
<br>
<h1 id="different_time_weather_txt">--WEATHER AT DIFFERENT TIME--</h1>
<br>
<div id="today_data">
  {% for data in todays_forecast%}

  <div class="today_data_block">
  <h1>{{data.time}}</h1>
  <img id="today_data_block_img"src="{{ url_for('static', filename='today_image/' +data.info+'.png') }}"alt="image"style="height:40px ; width:40px;">
  <h2>{{data.temp}}°C</h2>
  <p>  {{data.feelslike}}°C</p>
  <h3>{{data.description}}</h3>
  <h3> HUMIDITY - {{data.humidity}}%</h3>

  </div>
  {%endfor%}


</div><!--end of today_data-->
{% endif %}
{%if tag %}
<h2 style="display:flex;justify-content:center;position:relative;top:160px; color:#0d2d55;
  text-shadow:0px 0px 8px #FFFFFF;">--Find the weather of your city--</h2>
{%endif%}



{%endblock%}